body{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Montserrat', sans-serif;
}

p{
    color: #8f8f8f;
}
.big-heading{
    font-size: 3.3rem;
    line-height: 1.5;
    font-weight: bold;
}
.section-heading{
    font-size: 3rem;
    line-height: 1.5;
    font-weight: bold;
}
.container-fluid{
    padding: 7% 15%;
}
/*sections*/
.colored-section{
    background-color: #ff4c68;
    color: white;
}
.white-section{
    background-color: white;
}
/*title*/
#title{
    text-align: left;
}
#title .container-fluid{
    padding: 3% 15% 7%;
}
.navbar{
    padding-bottom: 4.5rem;

}
.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}
.nav-item{
    padding: 0 18px 0 18px;
}
.nav-link{
    font-weight: lighter;
    font-size: 1.2rem;
}
/*Download Button*/
.download-button{
    margin: 5% 3% 5% 0;
}
/*title image*/
.title-img{
    width: 20%;
    transform: rotate(25deg);
    position: absolute;
    right: 22%;
}
@media (max-width:1028px) {
    #title{
        text-align: center;
    }
    .title-img{
        position: static;
        transform: rotate(0);
        width: 30%;
    }

}
/*feature*/
#features{
    padding: 7% 15%;
    position: relative;
}
.feature-box{
    padding: 4.5%;
}
.features-title{
    font-weight: bold;
    line-height: 1.5rem;
}
.icon{
    color: #ef8172;
    font-size: 3.5rem;
    margin-bottom: 1rem;
}

.icon:hover{
    color: #ff4c68;
}
/*terstimonials*/
#testimonials{
    background-color: #ef8172;
}
.testimonials-img{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}
.testimonials-text{
    font-size: 3rem;
    line-height: 1.5;
    font-weight: bold;
}
/*press*/
#press{
    background-color: #ef8172;
    padding-bottom: 3%;
}
.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}

/*Pricing*/
#pricing{
    padding: 100px;
}
.pricing-column{
    padding: 3% 2%;
}
.price-text{
    font-size: 3rem;
    line-height: 1.5;
}
/* Call to Action */

.button-cta{
    margin: 15px;
}

/*<!-- Footer -->*/

.icon-footer{
    margin: 20px 10px;
}